site_name: Wizardry Variants Daphne - Community Guide
site_url: https://wizardry.fasterthoughts.io
theme:
  name: material
  palette:
    scheme: slate
    primary: black
  font:
    text: Zen Old Mincho
  logo: img/logo_red.webp
  favicon: img/favicon.ico
  features:
    - content.footnote.tooltips
    - content.tooltips
    - search.suggest
  custom_dir: overrides
extra:
  generator: false
markdown_extensions:
  - toc:
      toc_depth: 4
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - abbr
  - pymdownx.snippets:
      base_path: docs
      auto_append:
        - include/abbreviations.md
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - md_in_html
plugins:
  - glightbox
  - search
  - awesome-nav
  - macros
  - table-reader
  - redirects:
      redirect_maps:
        'appendices/respawning-bone-locations.md': 'tools/tracker.md'
        'adventurer-customization/blacksmithing/index.md': 'equipment/blacksmithing.md'
        'appendices/equipment/equipment-drop-rates.md': 'equipment/equipment-drop-rates.md'
        'appendices/equipment/equipment-tables.md': 'equipment/equipment-tables.md'
        'appendices/equipment/equipment-tables-embed.md': 'equipment/equipment-tables-embed.md'
        'appendices/equipment/equipment-tables-quicktables.md': 'equipment/equipment-tables-quicktables.md'
        'appendices/equipment/unique-equipment.md': 'equipment/unique-equipment.md'
        'appendices/equipment/weapon-types.md': 'equipment/weapon-types.md'
extra_css:
  - stylesheets/table.css
  - stylesheets/tooltip.css
  - stylesheets/style.css
  - stylesheets/scheme.css
  - stylesheets/admonition-bug.css
  - stylesheets/admonition-map.css
  - stylesheets/admonition-item.css
  - stylesheets/admonition-danger.css
  - stylesheets/admonition-warning.css
  - stylesheets/admonition-note.css
  - stylesheets/admonition-info.css
  - stylesheets/table-extras.css

extra_javascript:
  - js/tablefilter.js
  - js/table.js
  - https://unpkg.com/tablesort@5.6.0/dist/tablesort.min.js
  - https://unpkg.com/tablesort@5.6.0/dist/sorts/tablesort.number.min.js
  - https://unpkg.com/papaparse@5.4.0/papaparse.min.js
  - js/render-gsheets.js
